<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Account</title>
	<script src="/js/firebase.js"></script>
	<script src="/js/account.js"></script>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	{% include "header.html" %}
	<main>
		<button onclick="logout()">Logout</button>
		<button type="button" id="delete-account-btn" onclick="deleteAccount()">Delete Account</button>
	</main>
</body>
</html>