<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Account</title>
	<script src="/js/firebase.js" defer></script>
	<script src="/js/account.js" defer></script>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	{% include "header.html" %}
	<main>
		<h2>Account</h2>
		<hr>

		<p><b>Name:</b> {{ user.name }}</p>
		<p><b>Email:</b> {{ user.email }}</p>
		<div id="account-options">
			<button onclick="logout()">Logout</button>
			<button onclick="resetPassword()">Change password</button>
			<button type="button" id="delete-account-btn" onclick="deleteAccount()">Delete Account</button>
		</div>
	</main>
</body>
</html>