<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <script src="js/firebase.js"></script>
    <script src="js/dish.js"></script> 
</head>
<body>
    {% include "header.html" %}
    <main>
        <h1>Your Cart</h1>
        <div class="dishes-list-section">
            {% for dish in cart %}
            <div class="dish">
                <img class="dish-image" src="#">
                <div>
                    <p>Dish Name: <span class="dish-name">{{ dish.name }}</span></p>
                    <p>Amount: <span class="dish-amount">{{ dish.amount }}</span></p>
                    <button class="remove-button" onclick="removeFromCart(this)">Remove</button>
                    <button onclick="incrementDish(this);">+</button>
                    <button onclick="decrementDish(this);">-</button>
                </div>
                <p class="dish-price">{{ dish.price }}</p>
            </div>
            {% endfor %}
        </div>
        <button onclick="location.href = '/order';">Finalise order</button>
        <button onclick="redirectToPastOrders()">Past Orders</button>
</body>
</html>
