<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dishes</title>
		<link rel="stylesheet" href="/css/main.css">
		<script src="js/firebase.js"></script>
	</head>
	<body>
		{% include "header.html" %}
		<main>
			<h2>Dishes</h2>
			<hr>

			<div class="filter-ingredient-section">
				<h2>Filter Dishes by Ingredient</h2>
				<form id="ingredient-form">
					<input type="text" id="dish-ingredient" placeholder="Enter an ingredient">
					<button type="submit">Filter by Ingredient</button>
				</form>
			</div>

		
			<div class="filter-restaurant-section">
				<h2>Filter Dishes by Restaurant</h2>
				<form id="restaurant-form">
					<select id="restaurant-select">
					</select>
					<button type="submit">Filter by Restaurant</button>
				</form>
			</div>

			<button onclick="resetFilters();">Reset filters</button>

			<div class="dishes-list-section">
				<h2>Dishes List</h2>
				<ul id="dish-list"></ul>
				<template id="dish-template">
					<div class="dish">
						<img class="dish-image" src="#" style="width: 50px;">
						<p>Dish Name: <span class="dish-name"></span></p>
						<p>From Menu:</p>
						<img class="menu-image" src="#" style="width: 50px;">
						<p>Menu Name: <span class="menu-name"></span></p>
						<button onclick="addToCart(this);">Add to Cart</button>
						<hr>
					</div>
				</template>
			</div>
		</main>
		<script async src="js/dishjs.js"></script>
	</body>
</html>