<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="/css/main.css" defer>
	</head>
	<body>
		{% include "header.html" %}
		<main>
			<h2>Welcome to the Food Order System</h2>
			<hr>
			<ul>
				<li><a href="/restaurants">Browse restaurants</a></li>
				<li><a href="/dishes">Find a dish</a></li>
			</ul>
			<p>Are you a restaurant owner? - <a href="/restaurant/admin">Manage restaurant</a></p>
		</main>
	</body>
</html>