<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script type="module">
		import { deleteAccount } from "/js/account.js";
		window.deleteAccount = deleteAccount;
	    document.getElementById('delete-account-btn').addEventListener('click', deleteAccount);
	</script>
</head>
<body>
    <header>

    </header>
    <main>

    </main>
    <footer>
        <button type="button" id="delete-account-btn">Delete Account</button>
    </footer>
</body>
</html>