<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/register.css">
		<script type="module">
			import { login } from "/js/account.js";
			window.login = login;
		</script>
		<title>Login</title>
	</head>
	<body>
		<main>
			<form method="post" action="#" onsubmit="event.preventDefault(); login();">
				<h1>Login</h1>

				<label for="email">Email</label>
				<input type="email" id="email" name="email" placeholder="John123@gmail.com" required />
				<br>

				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="******" required
					pattern=".{6,}" title="Password should be at least 6 characters"/>
				<br>

				<button id="login-button">Login</button>
				<progress id="progress" hidden></progress>
			</form>
			<div id="help-text">
				<p>Don't have an account? <a href="/register">Register</a></p>
			</div>
		</main>
	</body>
</html>
