<!DOCTYPE html>
<html lang="en-IE">
<head>
    <title>Restaurant Menu List Edit</title>
    <link rel="stylesheet" type="text/css" href="menucss.css">
    <script src="https://www.gstatic.com/firebasejs/10.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.14.1/firebase-database.js"></script>
    <script src="menujs.js" defer></script>
</head>
<body>
    <div class="search-section">
        <h2>Search Menus</h2>
        <div class="textmenu">
            <input type="text" name="search" id="search" placeholder="Search for menus...">
            <button id="search-button">Search</button>
        </div>
    </div>
    
    

    <div class="filter-section">
        <h2>Filter Menus</h2>
        <form method="POST" action="#">
            <div>
                <input type="text" name="ingredients" placeholder="Filter by ingredient" id="ingredient">
            </div>
            <div>
                <button type="submit">Apply Filter</button>
            </div>
        </form>
    </div>

    <div class="menu-list-section">
        <h3>Menu List</h3>
        <div class="display">
            <ul id="menu-list"></ul> <!---->
        </div>
    </div>
</body>
</html>
