<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Orders</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    {% include "header.html" %}
    <h2>Your Orders</h2>
    <div id="orders-container">
        {% for key, order in orders.items() %}
        <div class="order">
            <p>Order Date: {{ order.date }}</p>
            <p>Order Status: {{ order.status }}</p>
            <p>Delivery driver: {{ order["delivery-driver"] }}</p>
            {% for dish in order.contents %}
            <div class="dish">
                <img class="dish-image" src="#" style="width: 50px;">
                <p>Restaurant ID: {{ dish.restaurant }}</p>
                <p>Menu ID: {{ dish.menu }}</p>
                <p>Dish ID: {{ dish.dish }}</p>
                <hr>
            </div>
            {% endfor %}
        </div>

        {% endfor %}
    </div>
</body>
</html>
