<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Orders</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    {% include "header.html" %}
    <h2>Your Past Orders</h2>
    <div id="orders-container">
        {% for order in orders %}
        <div class="order">
            <p>Order Date: {{ order.date }}</p>
            <p>Order Status: {{ order.status }}</p>
            <p>Delivery driver: {{ order.driver }}</p>
            <div class="dish">
                <img class="dish-image" src="{{ ('restaurants/'~order['restaurant']~'/menus/'~order['menu']~'/'~order['dish']~'/image') | firebase_storage_url }}" style="width: 50px;">
                <p>Dish Name: {{ order.name }}</p>
                <p>Amount: {{ order.amount }}</p>
                <p>Total: {{ order.price * order.amount }}</p>
                <hr>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</body>
</html>
