<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		{% include "header.html" %}
		
		<h2>Restaurants</h2>
		<hr>
		{% for restaurant_id, restaurant in restaurants.items() %}
			<a href="/restaurant/{{ restaurant_id }}" class="restaurant-entry">
				<img src="{{ restaurant.icon }}">
				<h3>{{ restaurant.name }}</h3>
			</div>	
		{% endfor %}
	</body>
</html>