<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="/css/restaurant/list.css">
	</head>
	<body>
		{% include "header.html" %}
		
		<main>
			<h2>Restaurants</h2>
			<hr>

			<div class="search-bar">
				<input type="text" id="search-input" placeholder="Search by address...">
			</div>

			<div id="restaurant-list">
				{% if not restaurants %}
					<p>No restaurants exist</p>
				{% endif %}
				{% for restaurant_id, restaurant in restaurants.items() %}
					<a href="/restaurant/{{ restaurant_id }}" class="restaurant-item" data-address="{{ restaurant.address }}">
						<img src="{{ ('restaurants/'+restaurant_id+'/image') | firebase_storage_url }}" alt="{{ restaurant.name }}">
						<div>
							<h3>{{ restaurant.name }}</h3>
							<p>
								{{ restaurant.address }}
								<br>
								{{ restaurant.menus | length }} {{ "menu" | plural(restaurant.menus) }} available
							</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</main>

		<!-- JavaScript for Search Functionality -->
		<script>
			document.getElementById('search-input').addEventListener('input', function () {
				const query = this.value.toLowerCase();
				const restaurants = document.querySelectorAll('.restaurant-item');
			
				restaurants.forEach((restaurant) => {
					const address = restaurant.getAttribute('data-address').toLowerCase();

					if (address.includes(query)) {
						restaurant.style.display = 'flex';
					} else {
						restaurant.style.display = 'none';
					}
				});
			});
			
		</script>
	</body>
</html>
