<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="/css/restaurant/list.css">
	</head>
	<body>
		{% include "header.html" %}
		
		<main>
			<h2>Restaurants</h2>
			<hr>
			<div id="restaurant-list">
				{% if not restaurants %}
					<p>No restaurants exist</p>
				{% endif %}
				{% for restaurant_id, restaurant in restaurants.items() %}
					<a href="/restaurant/{{ restaurant_id }}">
						<img src="{{ ('restaurants/'+restaurant_id+'/image') | firebase_storage_url }}">
						<div>
							<h3>{{ restaurant.name }}</h3>
							<p>
								{{ restaurant.address }}
								<br>
								{{ restaurant.menus | length }} {{ "dish" | plural(restaurant.menus) }} available
							</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</main>
	</body>
</html>