@import url("/css/main.css");

body {
	background-image: url("/images/background.png");
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
	font-family: Poppins, sans-serif;
	padding: 0;
	margin: 0;
}

form {
	background-color: white;
	
	border: 2px solid #1B1B1B;
	box-shadow: 6px 6px 6px #1B1B1B;
	border-radius: 16px;

	margin: auto;
	margin-top: 10em;
	max-width: 30em;
	padding: 2em;
	padding-top: 1em;
}

label {
	display: block;
}

input {
	padding-bottom: 1em;
}

#login-button {
	width: 10em;
	background-image: linear-gradient(to right, #e052a0, #f15c41);
}

#help-text {
	margin-top: 6em;
	color: white;
	text-align: center;
}

#help-text a {
	color: white;
}