<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ restaurant.name }}</title>
		<link rel="stylesheet" href="/css/restaurant/menu.css">
		<script src="/js/restaurant/page.js" defer></script>
		<script src="/js/firebase.js"></script>
	</head>
	<body>
		{% include "header.html" %}
		<main>
			<h2>{{ restaurant.name }}</h2>
			<hr>
			<h2>{{ menu.name }} dishes</h2>
			<div id="dish-list">
				{% if not menu.dishes %}
					<p>This menu has no dishes</p>
				{% endif %}
				{% for dish_id, dish in menu.dishes.items(): %}
					<div class="dish" data-restaurant="{{ restaurant_id }}" data-menu="{{ menu_id }}" data-dish="{{ dish_id }}">
						<img class="dish-image" src="{{ ('restaurants/'~restaurant_id~'/menus/'~menu_id~'/'~dish_id~'/image') | firebase_storage_url }}">
						<div>
							<h3 class="dish-title">{{ dish.name }}</h3>
							<p>{{ "€%.2f" % dish.price }}</p>
							<button onclick="addToCart(this)">Add to cart</button>
						</div>
					</div>
				{% endfor %}
			</div>
			<h2>Additional ingredients</h2>
			{% if not restaurant.ingredients %}
				<p>This restaurant has no additional ingredients</p>
			{% else %}
			{% for ingredient_id, ingredient in restaurant.ingredients.items(): %}
			<div class="menu dish ingredient" data-restaurant="{{ restaurant_id }}" data-ingredient="{{ ingredient_id }}">
				<img class="dish-image" src="{{ ('restaurants/'~restaurant_id~'/ingredients/'~ingredient_id~'/image') | firebase_storage_url }}">
				<div>
					<h3 class="dish-title">{{ ingredient.name }}</h3>
					<p>{{ "€%.2f" % ingredient.price }}</p>
					<button onclick="addToCart(this)">Add to cart</button>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</main>
	</body>
</html>