<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ restaurant.name }}</title>
		<link rel="stylesheet" href="/css/restaurant/menu.css">
		<script src="/js/restaurant/page.js" defer></script>
		<script src="/js/firebase.js"></script>
	</head>
	<body>
		{% include "header.html" %}
		<main>
			<h2>{{ restaurant.name }}</h2>
			<hr>
			<h2>{{ menu.name }} dishes</h2>
			<div id="dish-list">
				{% if not menu.dishes %}
					<p>This menu has no dishes</p>
				{% endif %}
				{% for dish in menu.dishes: %}
					<div class="dish" data-dish-index="{{ loop.index0 }}">
						<img class="dish-image" src="{{ ('restaurants/'~user['uid']~'/menus/'~menu_index~'/'~loop.index0~'/image') | firebase_storage_url }}">
						<div>
							<h3 class="dish-title">{{ dish.name }}</h3>
							<p>{{ "€%.2f" % dish.price }}</p>
							<button onclick="addToCart(this)">Add to cart</button>
						</div>
					</div>
				{% endfor %}
			</div>
		</main>
	</body>
</html>