<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ restaurant.name }}</title>
		<link rel="stylesheet" href="/css/restaurant/page.css">
		<script src="/js/restaurant/page.js" defer></script>
	</head>
	<body>
		{% include "header.html" %}
		<main>
			<img src="{{ ('restaurants/'+restaurant_id+'/image') | firebase_storage_url }}" id="restaurant-image">
			<h2>{{ restaurant.name }}</h2>
			<p>{{ restaurant.address }}</p>
			<h3>Opening hours</h3>
			{% set days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
			<ul>
				{% for day in days %}
					{% set times = restaurant.hours.get(day.lower()) %}
					<li><b>{{ day }}</b>: {% if times %}{{ times[0] }} to {{ times[1] }}{% else %}Closed{% endif %}</li>
				{% endfor %}
			</ul>
			<h3>Contact</h3>
			<ul>
				<li><a href="mailto:{{ restaurant.email }}">{{ restaurant.email }}</a></li>
				<li><a href="tel:{{ restaurant.phone }}">{{ restaurant.phone }}</a></li>
			</ul>
			{% if user.uid == restaurant_id %}
				<h3>Admin</h3>
				<p>You are a manger for this restaurant. <a href="/restaurant/admin">Open admin page</a></p>
			{% endif %}
			<hr>
			<h2>Menus</h2>
			<div id="menu-list">
				{% if not restaurant.menus %}
					<p>This restaurant has no menus</p>
				{% endif %}
				{% for menu_id in restaurant.menus: %}
					<a class="menu" href="/restaurant/{{ restaurant_id }}/menus/{{ menu_id }}">
						<img class="menu-image" src="{{ ('restaurants/'~restaurant_id~'/menus/'~menu_id~'/image') | firebase_storage_url }}">
						<div>
							<h3 class="menu-title">{{ restaurant.menus[menu_id].name }}</h3>
							<p>{{ restaurant.menus[menu_id].dishes | length }} {{ "dish" | plural(restaurant.menus[menu_id].dishes) }} available</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</main>
	</body>
</html>