<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/restaurant/admin/main.css">
    <script src="/js/common.js" defer></script>
    <script src="/js/firebase.js" defer></script>
    <title>Delivery</title>
</head>
<body>
    {% include "header.html" %}

    <h1>Assign Delivery Driver</h1>

    {% for order in orders %}
        {% if order.type == "dish" %}
            <h1>{{ order.name }} x {{ order.amount }}</h1>
            <form action="/assign_driver" method="POST">
                <input type="hidden" name="user_id" value="{{ order.user_id }}" />
                <input type="hidden" name="order_id" value="{{ order.order_id }}" />
                <input type="hidden" name="item_id" value="{{ order.item_id }}" />
                <select id="drivers-select" name="driver">
                {% for driver in drivers %}
                    {% set selected = "selected" if driver.name == order.driver else "" %}

                    <option value="{{ driver.name }}" {{ selected }}>{{ driver.name }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Assign driver</button>
            </form>
            <form action="/update_status" method="POST">
                <input type="hidden" name="user_id" value="{{ order.user_id }}" />
                <input type="hidden" name="order_id" value="{{ order.order_id }}" />
                <input type="hidden" name="item_id" value="{{ order.item_id }}" />
                <input type="text" name="status" value="{{ order.status }}" value="{{ order.status }}" />
                <button type="submit">Update Status</button>
            </form>
        {% endif %}
    {% endfor %}
</body>
</html>
