<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Restaurant setup</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		{% include "header.html" %}
		
		<h2>Open a restaurant account</h2>
		<hr>
		<form>
			<label for="restaurant-name">Restaurant name:</label>
			<input type="text" id="restaurant-name">

			<label for="restaurant-address">Address:</label>
			<input type="text" id="restaurant-address">

			<p>Contact details</p>

			<label for="restaurant-phone">Phone:</label>
			<input type="tel" id="restaurant-phone">

			<label for="restaurant-email">Email:</label>
			<input type="tel" id="restaurant-email">

			<button onclick="createRestaurant()">Submit</button>
		</form>
		
	</body>
</html>