@import url(/css/main.css);

#restaurant-image {
	float: right;
	width: 100%;
	height: 8em;
	object-fit: cover;
	margin-bottom: 1em;
}

#restaurant-admin-button {
	float: right;
	position: relative;
	top: -6em;
}