@import url(/css/main.css);

#menu-image-input {
	margin-bottom: 1em;
}

#menu-add-section, #ingredient-add-section {
	margin-bottom: 1em;
}

#menu-list .menu, #ingredient-list .ingredient {
	display: flex;
	text-decoration: none;
	border: 1px solid #999;
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 2em;
	transition: border 250ms;
}

#menu-list .menu img, #ingredient-list .ingredient img {
	border-radius: 0.5em;
	width: 8em;
	height: 8em;
	object-fit: cover;
	margin-right: 2em;
}

#menu-list .menu h3, #ingredient-list .ingredient h3 {
	font-size: 1.5em;
	margin: 0;
}

#menu-list .menu p, #ingredient-list .ingredient p {
	margin-top: 0;
}