@import url(/css/main.css);

#menu-image-input {
	margin-bottom: 1em;
}

#menu-add-section {
	margin-top: 1em;
}

.menu {
	display: flex;
	text-decoration: none;
	border: 1px solid #999;
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 2em;
	transition: border 250ms;
}

.menu img {
	border-radius: 0.5em;
	width: 8em;
	height: 8em;
	object-fit: cover;
	margin-right: 2em;
}

.menu h3 {
	font-size: 1.5em;
	margin: 0;
}

.menu p {
	margin-top: 0;
}